@font-face {
  font-family: "adidasi";
  src: url("255e7a5750b4f4cfd79e9c69997ad2f5.woff2") format("woff2"),
    url("255e7a5750b4f4cfd79e9c69997ad2f5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
